<nav class="navbar">
    <div class="vinculos nav nav-underline"> 
        <a routerLink="/dashboard/prestamos" routerLinkActive="active" class="nav-link"><ol class="nav-item"> <p>PRESTAMOS</p></ol></a>
        <a routerLink="/dashboard/docente" routerLinkActive="active" class="nav-link"><ol class="nav-item"> <p>DOCENTES</p></ol></a>
        <a routerLink="/dashboard/implementos" routerLinkActive="active" class="nav-link"><ol class="nav-item"> <p>IMPLEMENTOS</p></ol></a>
    </div>
    <div class="acciones-perfil">
        <button mat-raised-button matTooltip="Cerrar Sesión" aria-label="Click para Cerrar Sesión" id="perfil" (click)="cerrarSesion()"><img src="../../../../assets/navbar/Freepik - Salida.png" alt="Cerrar Sesión"></button>
    </div>
</nav>